@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================= */
/* Scrollbar css */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
  /* background-color: #000944; */
  @apply bg-blue-950;
}

::-webkit-scrollbar-thumb :hover {
  background-color: blanchedalmond;
}


/* ============================= */
/* scroll Animation css */

.scroll-watcher {
  height: 4px;
  position: fixed;
  top: 0;
  z-index: 1000;
  /* background-color: #000944; */
  @apply bg-blue-950;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll(Y);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}