@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;

}

::-webkit-scrollbar-track {
  background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
  background-color: #5B70F5;
}

::-webkit-scrollbar-thumb :hover {
  background-color: blanchedalmond;
}





/* ============================= */
/* scroll Animation css */
.soumojitanibox {
  overflow: hidden;
  transform: translateX(30%);
  transition: transform 0.7s ease-in-out;
}

/* .soumojitanibox:nth-of-type(even) {
  transform: translateY(0%);
} */

.soumojitanibox.show {
  transform: translateX(0);
}