@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
  background-color: #5B70F5;
}

::-webkit-scrollbar-thumb :hover {
  background-color: blanchedalmond;
}