/* NoticeLine.module.css */

.noticeContainer {
    width: 100%;
    overflow: hidden;
    /* border: 4px solid green; */
}

.noticeLine {
    display: flex;
    animation: moveNotice 15s linear infinite;
    /* Adjust animation duration as needed */
}

.noticeLink {
    white-space: nowrap;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    /* Color of the notice text */
    text-decoration: none;
    padding: 10px;
}

@keyframes moveNotice {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-20%);
        /* Adjust as needed based on the number of notices */
    }
}